.not-record-found{
    font-size: 20px;
    color: #FF0944;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}