<!-- <!DOCTYPE html> -->
 
<body class="page-header-fixed">
    <main class="page-content content-wrap">
        <app-header (sendUserName)="receiveUserName($event)"></app-header>
        <app-sidebar></app-sidebar>
        <div class="page-inner">
            <div id="main-wrapper">
         <app-breadcrumb></app-breadcrumb> 
         <div class="heading">
        
            <h1>{{greeting}} {{userName}} </h1>
        </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel info-box panel-white">
                            <div class="panel-body">
                                <div class="info-box-stats">
                                    <span class="info-box-title">Rejections of Services</span>
                                    <p><span class="counter">{{toal_rejected_order_services}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>  
               
                    <div class="col-lg-3 col-md-6">
                        <div class="panel info-box panel-white">
                            <div class="panel-body">
                                <div class="info-box-stats">
                                    <span class="info-box-title">Late Submissions</span>
                                    <p><span class="counter">{{late_order_services_complete}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div> 
                  
                    <div class="col-lg-3 col-md-6">
                        <div class="panel info-box panel-white">
                            <div class="panel-body">
                                <div class="info-box-stats">
                                    <span class="info-box-title">On Time Submissions</span>
                                    <p><span class="counter">{{ontime_order_services_complete}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-3 col-md-6">
                        <div class="panel info-box panel-white">
                            <div class="panel-body">
                                <div class="info-box-stats">
                                    <span class="info-box-title">Early Submissions</span>
                                    <p><span class="counter">{{early_order_service_complete}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                
                <!-- Row -->
                <div class="row" #topOfTasks>
                    <div class="col-lg-12 col-md-12">
                        <div class="panel panel-white">
                            <canvas style="width: 100%; height:360px; padding:10px 0px; color:white" baseChart
                            [data]="barChartData"
                            [options]="barChartOptions"
                            [plugins]="barChartPlugins"
                            [type]="'bar'" >
                    </canvas>
                        </div>
                    </div>
                 
                    <div class="col-lg-12 col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <h4 class="panel-title">New Tasks</h4>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive project-stats">  
                                   <table class="table">
                                       <thead>
                                           <tr>
                                               <th>Order ID</th>
                                               <th>Package</th>
                                               <th>Status</th>
                                               <th>Manager</th>
                                               <th>Progress</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                     <tr *ngFor="let item of orders | slice:0:limit">
                                               <th scope="row">{{item.tbl_order_id}}</th>
                                               <td>{{item.pkg_title}}</td>
                                               <td><span class="label label-primary">{{item.task_status}}</span></td>
                                               <td>{{item.assign_to_name}}</td>
                                               <td>
                                                <mat-progress-bar mode="determinate"
                                                    value="{{item.order_progress}}">
                                                </mat-progress-bar>
                                            </td>
                                        </tr> 
                                       </tbody>
                                    </table>
                                    <div class="showBtn" *ngIf="orders.length > 5">
                                        <button *ngIf="limit == 5 " (click)="showMore()" class="btn showMore">
                                         <span style="display:flex; justify-content: space-around; align-items: center;">  See More  <span class='material-icons'>expand_more</span>
                                        </span> 
                                        </button>
                                        <button #bottomofPage *ngIf="limit !== 5 " (click)="showLess()" class="btn showMore">
                                            <span style="display:flex; justify-content: space-around; align-items: center;">
                                                See Less  <span class='material-icons'>expand_less</span>
                                                </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Main Wrapper -->
      
        </div><!-- Page Inner -->
    </main><!-- Page Content -->
   <app-footernav></app-footernav>
    <div class="cd-overlay"></div>
</body>
