
@import url(../../assets/sharedMaterialStyles.css);

.upload-div{
    /* border: 1px solid red; */
    width: 184px;
    margin-top: -10px;
    margin-left: -15px;
}
.upload {
  color: #174994;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  text-align: center;
  font-size: 14px;
  background-color: whitesmoke;
  cursor: pointer;
  height: 56px;
  width: 185px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 0;
}


/* Employees Detail View Start */
td, td a {
  color: #fff;
  text-align: center;
}
td a{
  cursor: pointer;
  text-decoration: underline;
  font-weight: 650;
}

 tbody .row > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  tbody .row > div .col-lg-12 label{
  margin-top: 10px;
  color: #fff;
  font-weight: 500;
  }
  tbody .row > div .col-lg-12 p{
    margin-top: -10px;
    color: #fff;
    }
    /* Employee Profile Image */
  .imageBox {
display: flex;
align-items: center;
justify-content: center;
  }
  .imageBox img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: none;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  table tr th{
    font-weight: 550;
    font-size: 16px;
  }


  .modal-content {
    opacity: 0;
    transform: scale(0.7);
    animation: bounceIn 0.5s both;
  }

  @keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
    20% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(0.9);
    }
    60% {
      opacity: 1;
      transform: scale(1.03);
    }
    80% {
      transform: scale(0.97);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }


  /* employee loader css */

  /*
order loader css  */







.mainHeading{
  display: flex;
  flex-wrap: wrap;
}

.loaderdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
